.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd5;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -30px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -5px rgba(0, 0, 0, 0.75);
}
