.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  /* min-width: 150px; */
  background-color: #f6f6f6;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
  min-width: 200px;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 3vw;
  font-size: 24px !important;
}
.sidebar__search {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  background-color: #f6f6f6;
}
.sidebar__searchContainer {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  width: 100%;
  align-items: center;
}
.sidebar__Chat > h2 {
  cursor: pointer;
  padding: 10px 10px 10px 30px;
  font-size: 20px;
  border-bottom: 1px solid rgba(221, 217, 217, 0.4);
}

.sidebar__Chat > h2:hover {
  background-color: #e0e0e0;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  margin-right: 5px;
  color: gray;
}
.sidebar__searchContainer > input {
  border: none;
  outline-width: 0;
}
.sidebar__Chat {
  background-color: white;
  flex: 1;
  width: 97%;
}
